In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
%matplotlib inline

In [9]:
df = pd.read_csv("corrected_bitcoin.csv", error_bad_lines = False, encoding = "ISO-8859-1")
df["timestamp"] = pd.to_datetime(df["timestamp"])
df["text"] = df["text"].astype(str)
df.head()

C:\Users\Delbert\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0,3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,user,fullname,url,timestamp,replies,likes,retweets,text
0,1039389600546996224,coinimonster,CoiniMonster (Not giving away Coins),NaN,2018-09-11 05:46:06+00:00,0.0,3.0,2.0,I didnt tether at $7300 #iamspartacus\r\n$btc ...
1,1078873154376880129,TheBitfi,Bitfi - open source: bitfi.dev,NaN,2018-12-29 04:39:39+00:00,9.0,61.0,16.0,The first lab made diamond happened in 1955 &a...
2,906181724786352128,Crypto3TH,Crypto,NaN,2017-09-08 15:45:33+00:00,3.0,5.0,3.0,How China Sinks Bitcoin - Probably what happen...
3,986254195283161088,keno_sanders,Keno Sanders,NaN,2018-04-17 14:44:58+00:00,1.0,7.0,1.0,Great talk and discussions about Bitcoin vs. E...
4,961666624880365568,CryptoGamer_,CryptoGamer,NaN,2018-02-08 18:22:44+00:00,23.0,135.0,51.0,"When things are down, remember it's never as b..."

In [13]:
df["text"]

0          I didnt tether at $7300 #iamspartacus\r\n$btc ...
1          The first lab made diamond happened in 1955 &a...
2          How China Sinks Bitcoin - Probably what happen...
3          Great talk and discussions about Bitcoin vs. E...
4          When things are down, remember it's never as b...
                                 ...
1383223    Inbox me for BITCOIN investment https://t.co/s...
1383224    Why don't you invest now for the future Bitcoi...
1383225    I thought I should share this correctional wav...
1383226    Welcome to Bitcoin, newcomers! Here's your FAQ...
1383227    Hasan Minhaj really came for the Bitcoin bros ...
Name: text, Length: 1383228, dtype: object

In [3]:
df["text"] = df["text"].str.replace('http.* ', '')
df["text"] = df["text"].str.replace(' http.*', '')
df["text"] = df["text"].str.replace(' .*http.* ', '')
df["text"] = df["text"].str.replace('#.* ', '')
df["text"] = df["text"].str.replace('[^A-Za-z ]', '')

In [4]:
drop_list = []
for x in range(len(df["text"])):
    if len(str(df["text"][x])) < 60:
        drop_list.append(x)
len(drop_list)/len(df)

0.44491580563724853

In [5]:
df.drop(drop_list, inplace = True)
df.reset_index(inplace = True, drop = True)

In [6]:
df["timestamp"] = pd.to_datetime(df["timestamp"].dt.strftime('%Y-%m-%d'))

In [7]:
df.to_csv("final bitcoin.csv", index = False)